<app-top-bar></app-top-bar>
<h1>{{ pageIntro }}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- {{ pageIntro }} -->
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

<!-- <h1 i18n>Hello Alex!</h1> -->
<!--      <meaning>  | <description>      <@@id>       -->

<!-- <button i18n="direction right|Character direction of moving right">
  Right
</button> -->

<!-- <button i18n="correct|The answer is marked as correct">Right</button> -->

<!--                 i18n-[attribute]="<meaning>|<description><@@id>" -->
<!-- <img src="puppy.jpg" i18n-alt alt="Golden retriever wearing a Christmas hat." /> -->
