<a [routerLink]="['/']">
  <img
    src="https://angular.io/assets/images/logos/angular/shield-large.svg"
    i18n-title="site header logo|Our company logo @@headerLogo"
    title="Company logo"
  />
  <h1 i18n="site header| The slogan of our company">Best price every time</h1>
</a>

<a
  routerLink="/cart"
  class="button fancy-button"
  i18n="site header| The checkout button"
>
  Checkout
</a>

<select
  class="button fancy-button"
  (change)="changeLanguage($event)"
  [(ngModel)]="language"
>
  <option [value]="'en'">English</option>
  <option [value]="'el'">Greek</option>
</select>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
